.App {
  text-align: center;
}

.ShowData {
  text-align: center;
}
.image{
  max-width: 220px;
  max-width: 300px;
  position: absolute;
  top: 25%;
  left: 65%;
  margin: auto;
}

.About {
  text-align: justify; 
}

.Login {
  position: relative;
  
}

.Register {
  position: relative;
  display: flex;
  margin: auto;
}

.button {
margin:10%;
}

@media (max-width: 600px) {
  .image{
    display: none;
  }
  .Login{
    display: none;
  }
}


