@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4
{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
h3,
h1
{
  color: #46b7b1;
}
p{
  color: #81888c;
}
h2{
  color: #575d60;
}
/* general */

body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}


.repButton{
  padding: 0.3rem 0.5rem;
  border: 3px solid #6aa051;
  text-align: center;
}


/* form */

.form label,
.form input {
  display: block;
  margin-left: 10%;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 80%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}
.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}
.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #6aa051;
  border-radius: 8px;
  background-color: #c8ecb7;
  font-size: 1.1rem;
}



/* error notice */

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}


/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}

